<%# p_exercises = @muscles.blank? ? [] : @muscles[0].primary_exercises %>
<%# s_exercises = @muscles.blank? ? [] : @muscles[0].secondary_exercises %>
<%# a_exercises = @muscles.blank? ? [] : @muscles[0].antagonist_exercises %>

<% if @exercises %>
  <div>

    <% @exercises.each do |exercise| %>
      <div class="exercises_text_div">
        <span class="main_exercises_text"
              title="<%= exercise.name %> anzeigen">
          <%= link_to(exercise.name, {:controller => "main", :action => "exercise", :name => exercise.name, :title => "#{exercise.name} auswählen"}, {:remote => true, :method => :post}) %>

          <%#= link_to("show", :url=>{:controller=>"main", :action=>"show_exercise", :exercise=>s.id}, :remote=>true) %>
        </span>

        <% if @trainingsplan && @trainingsplan != nil %>
          <%#= @trainingsplan.name %>
          <%= link_to("<i class='material-icons' title='Zum Trainingsplan #{@trainingsplan.name} hinzufügen'>add_circle_outline</i>".html_safe, {:controller => "main", :action => "add_exercise", :exercise => exercise.id, :trainingsplan_id => @trainingsplan.id}, {:remote => true, :method => :post}) %>
        <% else %>
          <%= link_to("<i class='material-icons' style='position: relative;top: 6px;'>playlist_add</i>".html_safe, {:controller => "trainingsplans", :action => "load_trainingsplans", :exercise => exercise.id, :title => "Zum Trainingsplan hinzufügen"}, {:remote => true, :method => :post}) if logged_in? %>
        <% end %>
        <%#= link_to(image_tag("icons/add.png"), {:controller => "trainingsplans", :action => "load_trainingsplans", :exercise => exercise.id, :title => "Zum Trainingsplan hinzufügen"}, {:remote => true, :method => :post}) %>
      </div>
    <% end %>
  </div>
<% else %>


  <% if @primary %>
    <div>

      <h3>primary</h3>
      <% @primary.each do |exercise| %>
        <div class="exercises_text_div">
        <span class="main_exercises_text"
              title="<%= exercise.name %> anzeigen">
          <%= link_to(exercise.name, {:controller => "main", :action => "exercise", :name => exercise.name, :title => "#{exercise.name} auswählen"}, {:remote => true, :method => :post}) %>

          <%#= link_to("show", :url=>{:controller=>"main", :action=>"show_exercise", :exercise=>s.id}, :remote=>true) %>
        </span>
          <%= link_to("<i class='material-icons' style='position: relative;top: 6px;'>playlist_add</i>".html_safe, {:controller => "trainingsplans", :action => "load_trainingsplans", :exercise => exercise.id, :title => "Zum Trainingsplan hinzufügen"}, {:remote => true, :method => :post}) if logged_in? %>
          <%#= link_to(image_tag("icons/add.png"), {:controller => "trainingsplans", :action => "load_trainingsplans", :exercise => exercise.id, :title => "Zum Trainingsplan hinzufügen"}, {:remote => true, :method => :post}) %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @secondary %>
    <div>
      <h3>secondary</h3>
      <% @secondary.each do |exercise| %>
        <div class="exercises_text_div">
        <span class="main_exercises_text"
              title="<%= exercise.name %> anzeigen">
          <%= link_to(exercise.name, {:controller => "main", :action => "exercise", :name => exercise.name, :title => "#{exercise.name} auswählen"}, {:remote => true, :method => :post}) %>

          <%#= link_to("show", :url=>{:controller=>"main", :action=>"show_exercise", :exercise=>s.id}, :remote=>true) %>
        </span>
          <%= link_to("<i class='material-icons' style='position: relative;top: 6px;'>playlist_add</i>".html_safe, {:controller => "trainingsplans", :action => "load_trainingsplans", :exercise => exercise.id, :title => "Zum Trainingsplan hinzufügen"}, {:remote => true, :method => :post}) if logged_in? %>
          <%#= link_to(image_tag("icons/add.png"), {:controller => "trainingsplans", :action => "load_trainingsplans", :exercise => exercise.id, :title => "Zum Trainingsplan hinzufügen"}, {:remote => true, :method => :post}) %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @antagonist %>

    <div>
      <h3>antagonist</h3>
      <% @antagonist.each do |exercise| %>
        <div class="exercises_text_div">
        <span class="main_exercises_text"
              title="<%= exercise.name %> anzeigen">
          <%= link_to(exercise.name, {:controller => "main", :action => "exercise", :name => exercise.name, :title => "#{exercise.name} auswählen"}, {:remote => true, :method => :post}) %>

          <%#= link_to("show", :url=>{:controller=>"main", :action=>"show_exercise", :exercise=>s.id}, :remote=>true) %>
        </span>
          <%= link_to("<i class='material-icons' style='position: relative;top: 6px;'>playlist_add</i>".html_safe, {:controller => "trainingsplans", :action => "load_trainingsplans", :exercise => exercise.id, :title => "Zum Trainingsplan hinzufügen"}, {:remote => true, :method => :post}) if logged_in? %>
          <%#= link_to(image_tag("icons/add.png"), {:controller => "trainingsplans", :action => "load_trainingsplans", :exercise => exercise.id, :title => "Zum Trainingsplan hinzufügen"}, {:remote => true, :method => :post}) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>