<% if @exercises&.length > 0 %>

    <% @exercises.each do |exercise| %>
      <div class="exercises_text_div">
<!--        <div class="exercise_text_multi_pic">-->
          <%#= image_tag("muscleman.svg", :class => "multi_pic") %>

<!--         ############-->
<!--          <div class="multi_pic muscleman"></div>-->

          <%#=user_muscle_pics(exercise.primary_muscles,nil,10,"multi_pic") %>
        <%#=user_muscle_pics(exercise.secondary_muscles,nil,5,"multi_pic") %>
<!--        </div>-->
        <div class="main_exercises_text">

          <% if @trainingsplan && @trainingsplan != nil %>
            <%#= @trainingsplan.name %>
            <%= add_to_list_with_trainingsplan(exercise, @trainingsplan) %>
          <% else %>

            <%= add_to_list_link(exercise) %>
          <% end %>

          <%= link_to(exercise.name, {:controller => "main", :action => "exercise",
                                      :name => exercise.name, :title => "#{exercise.name} auswählen"},
                      {:class => "pure-material-button-contained dark_red_background",
                       :remote => true, :method => :post}) %>
          <%#= render "users/tag_icons" ,exercise: exercise %>


          <%#= link_to("show", :url=>{:controller=>"main", :action=>"show_exercise", :exercise=>s.id}, :remote=>true) %>
        </div>


      </div>
    <% end %>
<% elsif @exercises&.length==0 %>
  No Exercises selected
  To search for exercises, 1.click a muscle on the image, select a search tag or enter at least 3 characters
<% else %>


  <% if @primary %>
    <div>

      <h3>primary</h3>
      <% @primary.each do |exercise| %>
        <div class="exercises_text_div">
          <div class="main_exercises_text">
            <%= add_to_list_link(exercise) %>
            <%= link_to(exercise.name, {:controller => "main", :action => "exercise", :name => exercise.name, :title => "#{exercise.name} auswählen"}, {:remote => true, :method => :post}) %>

            <%#= link_to("show", :url=>{:controller=>"main", :action=>"show_exercise", :exercise=>s.id}, :remote=>true) %>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>
  <% if @secondary %>
    <div>
      <h3>secondary</h3>
      <% @secondary.each do |exercise| %>
        <div class="exercises_text_div">

          <div class="main_exercises_text">
            <%= add_to_list_link(exercise) %>
            <%= link_to(exercise.name, {:controller => "main", :action => "exercise", :name => exercise.name, :title => "#{exercise.name} auswählen"}, {:remote => true, :method => :post}) %>

            <%#= link_to("show", :url=>{:controller=>"main", :action=>"show_exercise", :exercise=>s.id}, :remote=>true) %>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>

<% end %>