
<div class="user_text">
  Trainingsplan id: <div id="trainingsplan_text_selected">
  <%=@trainingsplan.name %>
  </div>

  <br>
  <% @ettps.each_with_index do |ettp, i| %>

    <% exercise = ettp.exercise %>
    <% @x << "#{clean_name(exercise.name).capitalize}" %>
    <span class="main_exercises_text"
          title="<%= exercise.name %> anzeigen">
          <%= link_to(exercise.name, {:controller => "main", :action => "exercise", :name => exercise.name, :title => "#{exercise.name} auswählen"}, {:remote => true, :method => :post}) %>

      <%#= link_to("show", :url=>{:controller=>"main", :action=>"show_exercise", :exercise=>s.id}, :remote=>true) %>
        </span>


    <%= link_to(image_tag("icons/remove.png"), {:controller => "main", :action => "remove_exercise", :ettp_id => ettp.id}, {:confirm => "Are you sure?", :remote => true, :method => :post}) %>
    <%#= link_to(image_tag('icons/remove.png'),:html=>{:title => 'Vom Trainingsplan entfernen'}, :url=>{:controller=>'main', :action=>'remove_exercise', :ute_id=>ute.id}, :confirm => 'Are you sure?', :remote=>true) %>
    <% if i != 0 %>
      <%= link_to(image_tag("icons/up.png"), {:controller => "main", :action => "switch_exercise", :ettp_id_1 => ettp.id, :ettp_id_2 => @ettps[i - 1].id}, {:remote => true, :method => :post}) %>
    <% end %>
    <% unless @ettps[i + 1].blank? %>
      <%= link_to(image_tag("icons/down.png"), {:controller => "main", :action => "switch_exercise", :ettp_id_1 => ettp.id, :ettp_id_2 => @ettps[i + 1].id}, {:remote => true, :method => :post}) %>

    <% end %>
    <br/>
  <% end %>
</div>


<script type="text/javascript">
    var trainingsArray = new Array();
    <% @x.each_with_index do |x,i| %>
    <%="trainingsArray[#{i}]='#{x}';".html_safe%>
    <% end %>
</script>