<div id="muscle_text_option" class="exercise_page">

  <div id="m_primary">
    primary muscles
    <% @p_muscles.each do |muscle| %>
      <div class="muscle_text_option" onclick="selected('<%=muscle.name%>');"
           onmouseover="hover('<%=muscle.clean_name%>');">
        <%= link_to(muscle.name, {:controller => "main", :action => "muscle", :name => muscle.name, :title => "#{muscle.name} auswählen"}, {:remote => true, :method => :post}) %>

      </div>
    <% end %>          </div>
<br>
  <div id="m_secondary">
    secondary muscles
    <% @s_muscles.each do |muscle| %>
      <div class="muscle_text_option" onclick="selected('<%=muscle.name%>');"
           onmouseover="hover('<%=muscle.clean_name%>');">
        <%= muscle.name %>
      </div>
    <% end %>
  </div>
  <%#<div id="m_antagonist" <%= @p_muscles.blank? && @s_muscles.blank? ? "" : 'style="display:none"'%><%#>
      <% @a_muscles.each do |s| %>
  <%#<div class="muscle_text_option" onclick="selected('<%=s.name%><%#');"
               onmouseover="hover('<%=s.clean_name%><%#');">
            <%= s.name %>
  <%# </div>
      <% end %>
  <%#</div> %>
</div>
