<div id="user_selected">
  <div class="exercise_border_blue">
    <% if @current_user %>
      <% exercises = @trainingsplan.exercises %>
      <% @ettps = @trainingsplan.exercise_to_trainingsplans %>

      <%#= form_tag({:controller => "trainingsplans", :action => "get_exercises"}, {method: "post", remote: true, :style => "position: relative;top: -25px;left:125px;"}) do %>
      <%= select_tag "trainingsplan_id", options_for_select(@current_user.trainingsplans.collect { |u| [u.name, u.id] }, @trainingsplan.id), {:multiple => false} %>
      <%#= submit_tag("select Trainingsplan") %>
      <%# end %>
      <%= link_to "start_Training", trainingsplan_path(@trainingsplan) %>
      <% exercises.each_with_index do |exercise, i| %>

        <%= user_muscle_pics(exercise.primary_muscles, "selected", 5, "multi_pic4") %>
        <%= user_muscle_pics(exercise.secondary_muscles, "selected", 2, "multi_pic4") %>
      <% end %>

      <% @x = [] %>

    <script>

        $('select#trainingsplan_id').on('change', function(event) {
            let selected_resource_id = $(this).val();
            let selected_muscle = $("#body_part_text_selected").innerText;
            let urlString = ""
            if (document.location.href.indexOf("muscles") > -1 ){
                urlString ="/muscles/trainingsplans/get_exercises/";
            }else{
                urlString ="/trainingsplans/get_exercises/";
            }
            $.ajax({
                type: "POST",
                url: urlString + selected_resource_id+"?muscle=" + selected_muscle,
                dataType: "script",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                }
            });
            return false;
        });
    </script>

      <div id="exercise_list">

        <%= render("main/exercise_list") %>
      </div>
    <% end %>


  </div>
</div>





