<div id='user_selected'>
  <%= image_tag('muskelman.png', :class => 'multi_pic2') %>
  <% if logged_in? %>
    <% @x = [] %>


    <%= form_tag({:controller => "trainingsplans", :action => "get_exercises"}, {method: 'post', remote: true,:style => "position: relative;top: 500px;"}) do %>
      <%= select_tag 'trainingsplan_id', options_for_select(@current_user.trainingsplans.collect { |u| [u.name, u.id] }), {:multiple => false} %>
      <%= submit_tag("select Trainingsplan") %>
    <% end %>

    <div id="exercise_list">

      <%=render("main/exercise_list") %>
    </div>

  <% end %>
</div>
<%= render('exercises/training') %>




