
<div class="nav nice_outer_tab">
  Wähle den Körperbereich den du Trainieren willst.
  <div id="body_part_text_selected_div">
    <div id="body_part_text_selected">
      <br/>
    </div>
  </div>
  <%= link_to("Alle", {:controller => "main", :action => "body_part", :name => "Alle"}, {:class => "nice_inset_tab", :remote => true, :method => :post}) %>
  <% @body_parts.each do |part| %>
    <%= link_to(part.name, {:controller => "main", :action => "body_part", :name => part.name}, {:class => "nice_inset_tab", :remote => true, :method => :post}) %>

  <% end %>
  <br/>
  Oder wähle ein Stichwort.
  <% %w{Liegen Sitzen Bank Gerät Kurzhantel Langhantel Freigewicht}.each do |part| %>
    <%= link_to(part, {:controller => "main", :action => "search_string", :name => part}, {:class => "nice_inset_tab", :remote => true, :method => :post}) %>

  <% end %>         <br/>

  Oder klicke auf einen Muskel im Bild.
</div>
<br/>                 <br/>

<div style="position:relative">
  <%= render :partial => "main/body_area" %>
  <div id="muscles" class="nice_outer_tab">
    <%= render :partial => "main/muscle" %>
  </div>
  <%= image_tag("muskelman.png", :class => "multi_pic") %>

  <div id="body_part_selected">
    <%= render :partial => "main/body_part_selected" %>
  </div>

  <div id="exercise_selected">
    <%= render :partial => "main/exercise_selected" %>
  </div>
  <div id="muscle_selected">
    <%= render partial: "main/muscle_selected" %>
  </div>
<%#= render :partial => "main/muscle_hover" %>
  <div id="exercises" class="nice_outer_tab">
    <%= render :partial => "main/exercise" %>
  </div>
  <div id="hover"></div>
  <%= image_tag("blank.png", :class => "multi_pic", :usemap => "#body_area", :style => "width:463px;height:460px;") %>
</div>




<input type="hidden" value="" id="selected_value">




