<div class="nav nice_outer_tab">
  <%#= t(".howTo") %>
  <!--Wähle den Körperbereich den du Trainieren willst.-->
  <div id="body_part_text_selected_div">
    <div id="body_part_text_selected">

    </div>
  </div>
  <%#= link_to("Alle", {:controller => "main", :action => "body_part", :name => "Alle"}, {:class => "nice_inset_tab", :remote => true, :method => :post}) %>
  <%# @body_parts.each do |part| %>
  <%#= link_to(part.name, {:controller => "main", :action => "body_part", :name => part.name}, {:class => "nice_inset_tab", :remote => true, :method => :post}) %>

  <%# end %>

  <!--Oder wähle ein Stichwort.-->
  <%# %w{Liegen Sitzen Bank Gerät Kurzhantel Langhantel Freigewicht}.each do |part| %>
  <%#= link_to(part, {:controller => "main", :action => "search_string", :name => part}, {:class => "nice_inset_tab", :remote => true, :method => :post}) %>

  <%# end %>

  <i id="search_field_magnify" class="material-icons">search</i>
  <i id="search_filter_down" class="material-icons" onclick="ui_render.show_filter();">arrow_drop_down</i>
  <i id="search_filter_up" class="material-icons" onclick="ui_render.hide_filter();">arrow_drop_up</i>
  <div id="search_filter" style="height: 0px;overflow: hidden;">
    <%= form_tag main_search_string_path, remote: true, :authenticity_token => true, method: :post do %>
      <%= hidden_field_tag "muscle_selected" %>
      <%= text_field_tag :name, params[:name], onkeyup: "if(this.value.length >2){$('#submit_search_string').click();}",
                         style: "" %>
      <div id="tags">
        <%= render :partial => "main/tags" %>
      </div>

      <%= submit_tag "", {id: "submit_search_string", style: "visibility:hidden;"} %>
    <% end %>
  </div>
</div>


<div class="grid_parent">
  <%= render :partial => "main/body_area" %>
  <div class="grid_child_multi_pic">

    <!--    <div class="nice_inner_tab_js_hover exercise_border_blue">-->
    <%# if logged_in? %>


    <!--        <a id="hide_training" class="open_training show" onclick="toggleTraining()"><%#= t(".hidePlan") %></a>-->
    <!--        <a id="open_training" class="open_training hide" onclick="toggleTraining()"><%#= t(".showPlan") %></a>-->
    <%# end %>
    <!--    </div>-->
    <div id="multi_pic_container" class="">
      <%= image_tag("muscleman.svg", :class => "multi_pic") %>
      <%= image_tag("beta.webp", :class => "beta") %>

      <% if @trainingsplan %>

        <div id="trainingsplan_selected">
          <%= render :partial => "main/trainingsplan_selected" %>
        </div>
      <% end %>
      <div id="body_part_selected">
        <%= render :partial => "main/body_part_selected" %>
      </div>
      <div id="muscle_selected_pic">
        <%= render partial: "main/muscle_selected" %>
      </div>
      <div id="exercise_selected">
        <%= render :partial => "main/exercise_selected" %>
      </div>
      <div id="hover"></div>
      <%= image_tag("blank.webp", :class => "multi_pic", :usemap => "#body_area", :style => "width:463px;height:460px;") %>
      <!--div id="muscle_text_hover_div">
        <div id="muscle_text_hover">

        </div>
      </div>
      <div id="muscle_text_selected_div">

        <div id="muscle_text_selected">

        </div>
      </div-->


    </div>

  </div>
  <% if @trainingsplan %>

    <div class="grid_child_horizontal blue_background trainingsplan_grid">

      <div class="nice_inner_tab_js_hover exercise_border_blue">
        <a onclick="toggleEditTP()" style="cursor: pointer;"><%= t("edit_repetition_duration_or_videos") %></a>
        Workout
        <%= select_tag "trainingsplan_id", options_for_select(@current_user.trainingsplans.collect { |u| [u.name, u.id] }, @trainingsplan.id), {:multiple => false} if @current_user %>
        <i id="trainingsplan_down" class="material-icons dropdown_icons" onclick="ui_render.show_trainingsplan();">arrow_drop_down</i>
        <i id="trainingsplan_up" class="material-icons dropdown_icons" onclick="ui_render.hide_trainingsplan();">arrow_drop_up</i>
      </div>
      <div id="show_training" class="show_training">
        <div id="user_selected" class="show">
          <%= render "main/user_selected" %>
        </div>
      </div>
    </div>
  <% end %>
  <script>
      $('select#trainingsplan_id').on('change', function (event) {
          let selected_resource_id = $(this).val();
          //let selected_muscle = $("#body_part_text_selected")[0].innerText;
          let urlString = "<%= trainingsplans_get_exercises_url("") %>" + selected_resource_id;
          $.ajax({

              type: "POST",
              url: urlString,
              dataType: "script",
              beforeSend: function (xhr) {
                  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
              }
          });
          return false;
      });
  </script>
  <div class="grid_child_horizontal yellow_background exercises_grid">
    <div id="exercises" class="nice_outer_tab">
      <%= render :partial => "main/exercise" %>
    </div>
  </div>


  <div class="grid_child3 red_background exercise_grid">

    <div id="exercise" class="show_exercise">
      <%= render :partial => "exercises/display" %>
    </div>
    <div id="muscles" class="nice_outer_tab">
      <%= render :partial => "main/muscle" %>
    </div>
  </div>

<%#= render :partial => "main/muscle_hover" %>


</div>




<input type="hidden" value="" id="selected_value">




