<div style="display: grid; place-items: center;">
  <div id="login">
    <p>Log in</p>
<!--    <div class="table_container">-->
    <div class="table_container">
      <%= form_tag sessions_path do |form| %>
        <table>
          <tr>
            <td>
              <%= label_tag :email, "Email Address" %>
            </td>
            <td>
              <%= text_field_tag :email, params[:email] %>
            </td>
          </tr>
          <tr>
            <td>
              <%= label_tag :password %>
            </td>
            <td>
              <%= password_field_tag :password %>
            </td>
          </tr>
        </table>
        <p><%= submit_tag t('login') %></p>
      <% end %>
    </div>
  </div>

  <div class="small_links" style="font-size: 1rem !important;">
    <p>Don't have an account? <%= link_to t('signup'), sign_up_path %></p>
    <p>Lost or forgot password? <%= link_to "request a new one!", forgot_pw_path %></p>
  </div>
</div>