<div class="nav nice_outer_tab">
  <%= t(".title") %>

</div>


<div style="left:0;top:15px;position:relative">
  <%=t(".question") %>
</div>

<div class="mainborder">
  <div style="margin:15px">
    <%= link_to t(".startTraining"), trainingsplans_path %>
  </div>
  <div style="margin:15px">
    <% if current_user %>
      <%= link_to t(".createAndShare"), user_trainingsplans_path %>
    <% else %>
      <%= t(".loginToCreateAndShare") %>

    <% end %>
  </div>

</div>

<div class="mainborder">
  <div style="margin:15px;">

    <% if current_user %>
      <%= link_to t(".searchMuscleExercise") + t( ".optimizePlan"), index_path %>
    <% else %>
      <%= link_to t(".searchMuscleExercise"), index_path %>

      <%=t(".loginToOptimizePlan") %>
    <% end %>

  </div>
  <div style="margin:15px">
    <%= link_to t(".allExercises"), exercises_all_path if current_user %>
  </div>
  <div style="margin:15px;">

    <% if current_user %>
      <%= link_to t(".ownExercises"), exercises_path if current_user %>
    <% else %>
      <%= t(".loginForOwnExercises") %>
    <% end %>
  </div>

</div>

<div class="mainborder">
  <% if current_user %>
    <%= link_to t(".ownVideos"), user_videos_path if current_user %>
  <% else %>
    <%= t(".loginForOwnVideos") %>
  <% end %>

</div>







