<div class="nav nice_outer_tab">
  Herzlich Willkommen bei InstaFit

</div>
<br/>                 <br/>

<div style="left:0;top:15px;position:relative">
  Was möchtest Du machen
</div>

<div class="mainborder">
  <div style="margin:15px">
    <%= link_to "Trainingsplan auswählen und Training starten", trainingsplans_path %>
  </div>
  <div style="margin:15px">
    <% if current_user %>
      <%= link_to "Eigene Trainingspläne erstellen und diese mit Freunden teilen", user_trainingsplans_path %>
    <% else %>
      <%= "Einloggen um eigene Trainingspläne zu erstellen und diese mit Freunden zu teilen" %>

    <% end %>
  </div>

</div>

<div class="mainborder">
  Übungen durchsuchen
  <br>
  <div style="margin:15px;">

    <% if current_user %>
      <%= link_to "Suche Muskelspezifische Übungen und optimiere deine Trainingspläne", index_path %>
    <% else %>
      <%= link_to "Suche Muskelspezifische Übungen ", index_path %>
      <br><br>
      Bitte einloggen um deine
      Trainingspläne zu optimieren
    <% end %>

  </div>
  <div style="margin:15px">
    <%= link_to "Alle Übungen", exercises_all_path if current_user %>
  </div>
  <div style="margin:15px;">

    <% if current_user %>
      <%= link_to "Eigene Übungen", exercises_path if current_user %>
    <% else %>
      <%= "Bitte einloggen um Übungen zu erstellen" %>
    <% end %>
  </div>

</div>

<div class="mainborder">
  Videos Verwalten *coming soon
</div>







