<div class="user_tag_list">

  <% done_tag_list = [] %>
  <% total_tag_list = [] %>
  <% tag_map_list_0 = [] %>
  <% tag_map_list_1 = [] %>
  <% tag_map_list_2 = [] %>
  <% tag_map_list_3 = [] %>

  <% exercises.each do |exercise| %>

    <% exercise.tags.each do |tag| %>
      <% if tag.group == 0 %>
        <% tag_map_list_0 << tag.name %>
      <% elsif tag.group == 1 %>
        <% tag_map_list_1 << tag.name %>
      <% elsif tag.group == 2 %>
        <% tag_map_list_2 << tag.name %>
      <% elsif tag.group == 3 %>
        <% tag_map_list_3 << tag.name %>
      <% end %>
    <% end %>
    <% total_tag_list = tag_map_list_0  %>
  <% end %>
  <% if tag_map_list_0.length > 0 || tag_map_list_1.length > 0 || tag_map_list_2.length > 0 || tag_map_list_3.length > 0 %>
    <!--div class="trainingsplan_name">Tags</div-->
    <% tag_lists = [tag_map_list_0, tag_map_list_1] %>
    <% uniq_tag_list = total_tag_list.uniq %>

    <% uniq_tag_list.each_with_index do |tag_name, i| %>
      <% tag_length = exercises.length %>
      <%# uniq_tag_list.each_with_index do |tag_name,i| %>
      <%# if done_tag_list.count(tag_name) == 0 %>
      <% if (i + 1).even? %>
        <div class="<%= clean_name(tag_name) %> right" title="<%= tag_name.downcase %>" style="color: white !important;top:-<%=i*30 %>px;">
          <%= "#{(100 / tag_length) * total_tag_list.count(tag_name)}% #{tag_name}" %>
        </div>
      <% else %>
        <div class="<%= clean_name(tag_name) %> left" title="<%= tag_name.downcase %>" style="color: white !important;top:-<%=i*30 %>px;">
          <%= "#{(100 / tag_length) * total_tag_list.count(tag_name)}% #{tag_name}" %>
        </div>
      <% end %>

      <%# done_tag_list << tag_name %>
      <%# end %>
      <%# end %>
    <% end %>
    <hr>
    <% tag_lists = [tag_map_list_1, tag_map_list_2, tag_map_list_3] %>
    <% tag_lists.each_with_index do |tag_list| %>
      <% uniq_tag_list = tag_list.uniq %>
      <% tag_length = exercises.length %>
      <% uniq_tag_list.each_with_index do |tag_name, i| %>
        <%#if clean_name(tag_name) != "no_equipment" && clean_name(tag_name) != "home_equipment" && clean_name(tag_name) != "home_equipment"%>
        <%# if done_tag_list.count(tag_name) == 0 %>
        <%# if (i+1).even? %>
        <!--            <div class="<%#= clean_name(tag_name) %> right" title="<%#= tag_name.downcase %>" style="color: white !important;top:-<%#=i*30 %>px;">-->
        <!--              <%#= tag_name %>,-->
        <!--            </div>-->
        <%# else %>
        <span class="<%= clean_name(tag_name) %>" title="<%= tag_name.downcase %>" style="color: white !important;top:-<%=i*30 %>px;float:left;height:2rem;">
          <%#= tag_name %>
        </span>
        <%# end %>
        <%#end %>

        <%# done_tag_list << tag_name %>
      <% end %>
      <%# end %>
      <!--      <hr style="float: right;width: 100%;">-->
    <% end %>
  <% end %>
</div>