<div class="user_tag_list">

  <% done_tag_list = [] %>
  <% tag_map_list_0 = [] %>
  <% tag_map_list_1 = [] %>
  <% tag_map_list_2 = [] %>
  <% tag_map_list_3 = [] %>

  <% exercises.each do |exercise| %>

    <% exercise.tags.each do |tag| %>
      <% if tag.group == 0 %>
        <% tag_map_list_0 << tag.name %>
      <% elsif tag.group == 1 %>
        <% tag_map_list_1 << tag.name %>
      <% elsif tag.group == 2 %>
        <% tag_map_list_2 << tag.name %>
      <% elsif tag.group == 3 %>
        <% tag_map_list_3 << tag.name %>
      <% end %>
    <% end %>
  <% end %>
  <% if tag_map_list_0.length > 0 || tag_map_list_1.length > 0 || tag_map_list_2.length > 0 || tag_map_list_3.length > 0 %>
    <!--div class="trainingsplan_name">Tags</div-->
    <% tag_lists = [tag_map_list_0, tag_map_list_1] %>
    <% tag_lists.each do |tag_list| %>
      <% tag_length = exercises.length %>
      <% tag_list.each do |tag_name| %>
        <% if done_tag_list.count(tag_name) == 0 %>
          <div class="<%= clean_name(tag_name) %>" title="<%= tag_name.downcase %>" style="color: white !important;">
            <%= "#{(100 / tag_length) * tag_list.count(tag_name)}% #{tag_name}" %>
          </div>
          <% done_tag_list << tag_name %>
        <% end %>
      <% end %>
      <hr style="float: right;width: 100%;">
    <% end %>
    <% tag_lists = [tag_map_list_2, tag_map_list_3] %>
    <% tag_lists.each do |tag_list| %>
      <% tag_length = tag_list.length %>
      <% tag_list.each do |tag_name| %>
        <% if done_tag_list.count(tag_name) == 0 %>
          <div class="<%= clean_name(tag_name) %>" title="<%= tag_name.downcase %>" style="color: white !important;">
            <%= tag_name %>,
            <% done_tag_list << tag_name %>
          </div>
        <% end %>
      <% end %>
      <hr style="float: right;width: 100%;">
    <% end %>
  <% end %>
</div>