<% @trainingsplans.each do |trainingsplan| %>
  <div class="trainingsplan_item">
    <% user = trainingsplan.user.to_a.first %>
    <%= link_to user.username, user %>
    <%= follow_button user %>
    <div class="trainingsplan_name"><%= trainingsplan.name %></div>
    <div style="position: relative;height: 470px;margin: 15px;">
      <%= image_tag("muscleman.webp", :class => "multi_pic_ini") %>
      <% exercises = trainingsplan.exercises.to_a %>
      <% exercises.each_with_index do |exercise, i| %>

        <%= user_muscle_pics_trainingsplan_list(exercise.primary_muscles, "", 5) %>
        <%= user_muscle_pics_trainingsplan_list(exercise.secondary_muscles, "", 2) %>
      <% end %>


    </div>
    <div style="position: absolute;top: 20px;left: 470px;">
      <!--      <div class="trainingsplan_name">Exercises</div>-->
      <!--      <br>-->
      <% total_dur = 0 %>

      <% exercises.each_with_index do |exercise, i| %>

        <%= exercise.name %>
        <% ewd_object = exercise_workout_duration(trainingsplan.id, exercise.id) %>
        <% unit = ewd_object.unit %>
        <% if unit == "reps" %>
          <% video = exercise.selected_video(trainingsplan.id) %>
          <% if video %>
            <% video_duration = video.duration %>

            <% duration = ewd_object.reps.to_f * video_duration.to_f %>
            <% total_dur += duration %>
<!--            <%#= duration.round(2) %> seconds-->
          <% else %>
            select a video
          <% end %>


        <% else %>
          <% unit = ewd_object.unit %>
          <% duration = ewd_object.duration.round(2) %>
          <% total_dur += duration %>

<!--          <%#= ewd_object.duration.round(2) %> seconds-->

        <% end %>
        <% total_dur += ewd_object.pause %>


        <!-- <br><br>-->
        <br>
      <% end %>
      <br>

      Total Time ~ <%= distance_of_time_in_words(total_dur.round(2)) %>

      <%= render "users/tag_list", exercises: exercises %>


    </div>
    <div id="navilinks">
      <%= link_to t('view'), trainingsplan %>
      <%#= link_to t('edit'), edit_trainingsplan_path(trainingsplan) %>
      <%#= link_to "Destroy", trainingsplan, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>

<% end %>

