<% @trainingsplans.each do |trainingsplan| %>
  <div class="trainingsplan_item">
    <% user = trainingsplan.user.to_a.first %>
    <%= link_to user.username, user %>
    <%= follow_button user  %>
    <div class="trainingsplan_name"><%= trainingsplan.name %></div>
    <div style="position: relative;height: 470px;margin: 15px;">
      <%= image_tag("muscleman.webp", :class => "multi_pic_ini") %>
      <% exercises = trainingsplan.exercises.to_a %>
      <% exercises.each_with_index do |exercise, i| %>

        <%= user_muscle_pics_trainingsplan_list(exercise.primary_muscles, "", 5) %>
        <%= user_muscle_pics_trainingsplan_list(exercise.secondary_muscles, "", 2) %>
      <% end %>


    </div>
    <div style="position: absolute;top: 20px;left: 470px;">
<!--      <div class="trainingsplan_name">Exercises</div>-->
<!--      <br>-->
      <%# exercises.each_with_index do |exercise, i| %>

        <%#= exercise.name %>
<!-- <br><br>-->
<!--        <br>-->
      <%# end %>

      <%= render "users/tag_list" ,exercises: exercises %>


    </div>
    <div id="navilinks">
      <%= link_to t('view'), trainingsplan %>
      <%#= link_to t('edit'), edit_trainingsplan_path(trainingsplan) %>
      <%#= link_to "Destroy", trainingsplan, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>

<% end %>

