<div id="user_exercises">
  <h1><%= t("users.exercises.header") %></h1>

  <% @exercises.each do |exercise| %>
    <div class="user_exercise" style="">

      <% if exercise %>
        <%= image_tag("muscleman.svg", :class => "user_exercise_muscleman") %>
        <div class="user_exercise_muscles" style="">
          <%= user_muscle_pics(exercise.primary_muscles, "", 5, "user_exercise_muscle_pics") %>
          <%= user_muscle_pics(exercise.secondary_muscles, "", 2, "user_exercise_muscle_pics") %>
        </div>
        <div class="exercise_name"><%= h exercise.name %></div>
        <% @video = exercise.video %>
        <% if @video && @video.video.attached? %>
          <%= render "videos/video", :video => @video, :view => "preload_300" %>
        <% end %>
        <div class="exercise_info">
          <%= h exercise.visible %>

          <%= link_to t('view'), exercise %>
          <%= link_to t('edit'), edit_exercise_path(exercise) if is_exercise_owner_for(exercise.id) %>
          <%= link_to "Destroy", exercise, :confirm => "Are you sure?", :method => :delete %>
        </div>
      <% end %>
      <!--td><%#= image_tag("exercises/#{clean_name(exercise.name).capitalize}.jpg" ,:size => "100x100") %>
      <%#= image_tag("exercises/#{clean_name(exercise.name).capitalize}1.jpg" ,:size => "100x100") %> </td-->
      <!--        <td><%#= h exercise.how_to && exercise.how_to[0..150] %></td>-->
      <!--        <td><%#= h exercise.how_not_to && exercise.how_not_to[0..150] %></td>-->
      <!--        <td><%#= h exercise.info && exercise.info[0..150] %></td>-->
      <!--        <td><%#= h exercise.exercise_type %></td>-->
    </div>
  <% end %>

  <%= link_to "New exercise", new_exercise_path %>

</div>