<div id="user_videos">
  <h1>Videos</h1>

  <% @videos.each do |video| %>
    <div style="height: 12rem;display: inline-block;">
      <div style="height: 9rem;width:16rem;color:white;"> <%= render "videos/video", :video => video, :view => "" %></div>
      <br>
      <div><%= link_to t('view'), video %>
        <%= link_to t('edit'), edit_video_path(video) %>
        <%= link_to 'Destroy', video, method: :delete, data: {confirm: 'Are you sure?'} %></div>
    </div>
  <% end %>
  <%= link_to 'New Video', new_video_path %>
</div>