<div class="videos_folder">
  <% if video&.youtube_url && video&.start_time && video&.end_time && video&.youtube_url.length > 0 && video&.start_time&.length > 0&& video&.end_time&.length > 0 %>

    <iframe id="ytplayer" type="text/html" width="640" height="360"
            src="https://www.youtube.com/embed/<%=video.youtube_url %>?t=20&origin=free-workouts.com"
            frameborder="0" style="position:absolute;left:0;max-width: 90%!important;"></iframe>
  <% elsif video && video.video.attached? %>
  <%# if video && video.video.attached? %>

    <% if view == "preload" %>
      <%#= video_tag("#{url_for(video.video)}.mp4", :controls => "false", :onended=>"video_ended();", :width=>300) %>
      <%= video_tag("#{url_for(video.video)}", :controls => true, preload: 'metadata') %>
    <% elsif view == "preload_300" %>
      <%= video_tag("#{url_for(video.video)}", :controls => true, preload: 'metadata', width: 300) %>

    <% else %>
      <%= video_tag("#{url_for(video.video)}", :controls => true, preload: 'none') %>
    <% end %>
  <%# elsif video && video.youtube_url.length > 0 && video.start_time.length > 0&& video.end_time.length > 0 %>
   <div class="video_name"> <%= video.video.filename %></div>
  <% else %>

    NO VIDEO
  <% end %>
</div>