<div style="display: grid; place-items: center;">
  <div id="forgot_pw">
    <p>Forgot Password</p>
    <div class="table_container">
      <%= form_with(url: "/passwords/forgot", method: "post") do |f| %>
        <table>
          <tr>
            <td>
              <%= f.label :email, "Email Address" %>
            </td>
            <td>
              <%= f.text_field :email %>
            </td>
          </tr>
        </table>
        <p><%= f.submit t('request_new_pw_link') %></p>
      <% end %>
    </div>
  </div>

  <div class="small_links" style="font-size: 1rem !important;">
    <p>Already have an account? <%= link_to t('login'), login_path %>.</p>
  </div>

</div>