<h1>Bearbeitening muscle</h1>

<%= form_for(@muscle) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :picture_id %><br />
    <%= f.text_field :picture_id %><br />
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to "Ansehen", @muscle %> |
<%= link_to "Zurück", muscles_path %>