<%= render :partial => "exercises/body_area_edit" %>


<div id="exercise_muscles" style="position: absolute;
    top: 55px;left:0px;">
  <%= image_tag("muskelman.svg", :class => "multi_pic2") %>
  <div id="muscle_text_hover_div">
    <div id="muscle_text_hover">

    </div>
  </div>

  <% if @exercise %>

    <div class="exercise_muscles" style="height: 300px;
        position: absolute;
        left: 0;">

      <%= user_muscle_pics(@exercise.primary_muscles, "", 5, "multi_pic2") %>
      <%= user_muscle_pics(@exercise.secondary_muscles, "", 2, "multi_pic2") %>
      <div id="hover" style="position:absolute;top: 0;left: 0;"></div>
      <%= image_tag("blank.webp", :class => "multi_pic2", :usemap => "#body_area", :style => "width:463px;height:460px;") %>
      <div style="width: 230px;
          position: absolute;
          left: 500px;">
      </div>


    </div>


  <% end %>

</div>

<div id="exercises_muscles" class="nice_outer_tab">
  <%= render :partial => "exercises/muscle" %>
</div>

<div class="exercise_content nice_outer_tab" style="
position: absolute;
    left: 25px;
    top: 493px;
    padding: 12px;
">

  <%= form_for(@exercise, :html => {:multipart => true}) do |f| %>


    <%#= f.label :primary_muscle_names %>
    <%= f.hidden_field :primary_muscle_names %>
    <%#= f.label :secondary_muscle_names %>
    <%= f.hidden_field :secondary_muscle_names %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, :style => "width:300px" %>
    </p>
    <table>
      <tr>

        <td>
          <%#= file_column_field "exercise", "image1" %>
          <p>
            <%= f.label :description %>
            <%= f.text_area :description %>
          </p>
          <%#= file_column_field "exercise", "image2" %>
        </td>
        <td>

          <p>
            <%= f.label :how_to %>
            <%= f.text_area :how_to %>
          </p>
        </td>
        <td>

          <p>
            <%= f.label :how_not_to %>
            <%= f.text_area :how_not_to %>
          </p>
        </td><td>
        <p>
          <%= f.label :info %>
          <%= f.text_area :info %>
        </p>
      </td>
      </tr>
      <tr>

        <td>
          <p>
            <%= f.label :exercise_type %>
            <%= f.text_field :exercise_type %>
          </p>
        </td>
        <td>
          <p>
            <%= f.label :visible %>
            <%= f.text_field :visible %>
          </p>
        </td>
        <td>
          <p class='form-group'>
            <%#= f.label :video %>
            <%#= f.file_field :video %>

            <% if @video && @video.video.attached? %>
              <%= select_tag "exercise[default_video_id]", '<option value="0">default video</option>'.html_safe << options_for_select(@current_user.videos.collect { |u| [u.video.filename, u.id] },@exercise.selected_video(nil).id), {:multiple => false} %>

            <% else %>
              <%= select_tag "exercise[default_video_id]", '<option value="0">default video</option>'.html_safe << options_for_select(@current_user.videos.collect { |u| [u.video.filename, u.id] }), {:multiple => false} %>
            <% end %>
          </p>
        </td>
        <td>
          <p>
            <%= f.submit "Update" %>
          </p>
        </td>
      </tr>
    </table>


  <% end %>

</div>
<div id="exercise_video_show">
  <%= render "videos/video", :video => @video, :view => "preload_300" %>
</div>
