
<%= render :partial => "main/body_area" %>
<%= image_tag("muskelman.png", :class=>"multi_pic2") %>
<style>
  #muscle_text {
    left: -500px !important;
    position: absolute !important;
    width: 500px !important;
    top: -115px !important;
  }
</style>

<% if @exercise%>
  <div>Name: <%=h @exercise.name %></div>

    <%= user_muscle_pics(@exercise.primary_muscles, "",4) %>
    <%= user_muscle_pics(@exercise.secondary_muscles, "",1) %>
  <div id="hover" style="position:absolute;top: 0;left: 0;"></div>
  <%= image_tag("blank.png", :class => "multi_pic2", :usemap => "#body_area", :style => "width:463px;height:460px;") %>
  <div style="width: 230px;
       position: absolute;
       left: 500px;">

    <div id="selected_exercises_muscles" class="nice_outer_tab">
      <%= render :partial => "exercises/muscle" %>
    </div>




  </div>
  <div id="trainingsplans_exercise_video" >
    <%= render :partial => "trainingsplans/video" %>
  </div>
    <div class="exercise_content" style="width:1000px;height:300px;position:relative;top:500px;">
<table>

        <tr>

          <th>Description</th>
          <th>pic1</th>
          <th>How to</th>
          <th>pic2</th>
          <th>How not to</th>
          <th>Info</th>
          <th>Type</th>
        </tr>


          <tr>

            <td height="100"><%=h @exercise.description && @exercise.description[0..30] %></td>
            <td><%#= image_tag("exercises/#{clean_name(@exercise.name).capitalize}.jpg" ,:size => "100x100") %> </td>
            <td height="100"><%=h @exercise.how_to %></td>
            <td ><%#= image_tag("exercises/#{clean_name(@exercise.name).capitalize}1.jpg" ,:size => "100x100") %> </td>

            <td height="100"><%=h @exercise.how_not_to && @exercise.how_not_to[0..30] %></td>
            <td height="100"><%=h @exercise.info && @exercise.info[0..30] %></td>
            <td height="100"><%=h @exercise.exercise_type %></td>

          </tr>

      </table>

    </div>

  <% end %>
