<%= render 'layouts/muscle_styles' %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script type="text/javascript">
    function cleanName(name) {
        return name.gsub("ß", "ss").gsub(" ", "_").gsub('ä', 'ae').gsub('ö', 'oe').gsub('ü', 'ue').gsub('Ä', 'ae').gsub('Ö', 'oe').gsub('Ü', 'ue').toLowerCase();
    }

    function hover(name) {

        setClass(document.querySelector("#hover"), "" + cleanName(name) + "_hover");
        let last_hover = document.querySelector("#hover").className.split("_")[0];
        if (name === "") {
            //$("muscle_hover").innerHTML = "";//
            if (last_hover !== "" && document.querySelector("#" + last_hover + "_hover")) {
                setClass(document.querySelector("#" + last_hover + "_hover"), "hidden_muscle_pic");
            }
        } else {
            let p = cleanName(name);
            let s = p.toLowerCase();

            if (last_hover !== "" && document.querySelector('#' + last_hover + '_hover')) {
                setClass(document.querySelector('#' + last_hover + "_hover"), "hidden_muscle_pic");
            }
            if (document.querySelector('#' + s + '_hover')) {
                setClass(document.querySelector('#' + s + '_hover'), "multi_pic");
            }

            document.querySelector("#muscle_text_hover").innerHTML = name;
        }
    }

    function selected(name) {
        document.querySelector("#muscle_name").value = name;
        //document.querySelector("#muscle_text_selected").innerHTML = name;

        $('#muscle_form').click();
        //document.forms.namedItem("muscle_form").click();
    }

    function selected_exercise(name) {
        document.querySelector("#exercise_name").value = name;
        //document.querySelector("#exercise_text_selected").innerHTML = name;
        $("#exercise_form").click();
    }

</script>

<div style="position: relative;
    width: 1000px;
    margin: auto;">

<div id="exercice_table" style="width: 300px;
    position: absolute;
    height: 400px;
    overflow: auto;">
<table style="width:300px;">
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>

  <% @exercises.each do |exercise| %>
    <tr>
      <td>
        <%= link_to(exercise.name, {:controller => "exercises", :action => "update_selected_exercise", :id => exercise.id}, {:remote => true, :method => :post}) %>

      </td>
      <td><%=h exercise.exercise_type %></td>

    </tr>
  <% end %>
</table>
</div>


<div id='selected_exercise' style="    position: relative;left: 350px;top: 20px;">

  <%= render 'exercises/selected_exercise' %>
</div>

</div>