<div id="exercises" class="nice_outer_tab" style="position: absolute;
    left: 40px;
    top: 100px;
    width:320px">

  <div id="exercises_text_header" class="nice_inner_tab_js_hover"
       onclick="toggleClass(this,'nice_inner_tab_js_hover','nice_inner_tab')">
    <%= @exercises.length%>/1412 Ex.;


    <%= t('allMuscleExercises') %>
  </div>

  <div id="exercice_text" style="height: 400px;
      overflow: auto;">
    <% @exercises.each do |exercise| %>
      <div class="exercises_text_div">
        <div class="all_exercises_text" title="<%= exercise.name %> anzeigen">
          <%= link_to(exercise.name, {:controller => "exercises", :action => "update_selected_exercise", :id => exercise.id}, {:remote => true, :method => :post}) %>
        </div>
        <%= link_to("<i class='material-icons' style='position: relative;top: 6px;'>playlist_add</i>".html_safe, {:controller => "trainingsplans", :action => "load_trainingsplans", :exercise => exercise.id, :title => "Zum Trainingsplan hinzufügen"}, {:remote => true, :method => :post}) %>
      </div>
    <% end %>
  </div>

</div>

<div id="selected_exercise" style="position: absolute;top: 20px;left: 300px;">
  <%= render "exercises/selected_exercise" %>
</div>