<div id="exercise_edit">
  <h1 style="position: absolute;top: -60px;left: 420px;">Bearbeiten exercise</h1>

  <%= link_to t('view'), @exercise %> |
  <%= link_to t('back'), exercises_path %>
<%#= label "muscletype_Primärmuskel", "primär", :value => "primär"  %>
  <div id="prim_sec" style="position: absolute;left: 200px;top: 5px;">

    <label for="muscletype_Prim_rmuskel">Primär</label>
    <%= radio_button_tag 'muscletype', 'Primärmuskel', :checked => true %>

<%#= label 'muscletype_Sekundärmuskel', "secundär", :value => "secundär"  %>
    <label for="muscletype_Sekund_rmuskel">Sekundär</label>
    <%= radio_button_tag 'muscletype', 'Sekundärmuskel' %>

  </div>
  <div id="edit_exercise">

    <%= render :partial => "exercises/edit" %>


  </div>
</div>