<%#= javascript_include_tag "videoPlayer", "data-turbolinks-track": "reload" %>
<% if @ett %>

  <div id="play_div" style="display: block;">
    <% repschecked = is_unit_reps(@ett.unit) %>
    <% if repschecked %>
      <%#= label :autolyse, "reps", :value => "reps" %>
      <%#= radio_button_tag 'unit', 'reps', repschecked %>
      <%#= text_field_tag("reps", value = @ett.reps, options = {placeholder: 'reps'}) %>
      <div style="position: absolute;top: 15px;left: 44%;">
        <div id="unit_reps"></div>
        <div id="reps_current">-3</div><div id="reps_max"> / <%= @ett.reps %></div><div><%= t("reps") %></div>
      </div>
      <meter id="reps" value="-3" min="-3" max="<%= @ett.reps %>"></meter>
    <% end %>
    <% durationchecked = is_unit_duration(@ett.unit) %>
    <% if durationchecked %>
      <%#= label :autolyse, "duration", :value => "duration" %>
      <%#= radio_button_tag 'unit', 'duration', durationchecked %>
      <%#= text_field_tag("duration", value = @ett.duration, options = {placeholder: 'duration'}) %>
      <div style="position: absolute;">
        <div id="unit_duration"></div>
        <div id="dur_current">-6</div><div id="dur_max"> / <%= @ett.duration %></div><div><%= t("dur") %></div>
      </div>
      <meter id="duration" value="-6" min="-6" max="<%= @ett.duration %>"></meter>
    <% end %>
  </div>

  <div id="pause_div" style="display: none;">

    <%#= text_field_tag("pause", value = @ett.pause, options = {placeholder: 'pause'}) %>
    <div style="position: absolute;top: 15px;left: 44%;">
      <div id="pause_span"></div>
      <div id="pause_current">0</div><div id="pause_max"> / <%= @ett.pause %></div><div><%= t("dur") %></div>
    </div>
    <meter id="pause" value="0" min="0" max="<%= @ett.pause %>"></meter>
  </div>

<% end %>
 