<div id="trainingsplans_folder">
  <div id="rep_sec_pause">
    <%= render :partial => "trainingsplans/rep_sec_pause" %>
  </div>
  <% if video&.youtube_url && video&.start_time && video&.end_time && video&.youtube_url.length > 0 && video&.start_time&.length > 0 && video&.end_time&.length > 0 %>

        <iframe id="ytplayer" type="text/html" width="640" height="360"
                src="https://www.youtube.com/embed/<%= video.youtube_url %>"
                frameborder="0" style="position:absolute;left:0;"></iframe>
<!--        <script>-->
            // $('iframe#ytplayer').ready(function () {
            //     autoCallInitOnVidLoadIfTrainingStarted()
            // });

<!--        // </script>-->

<!--    <div id="youtube_placeholder_id"></div>-->


    <%#= video_tag("#{url_for(video.video)}", :controls => false, :oncanplay => "load_youtube_player('#{video.youtube_url.to_s}','16','18');", :onended => "video_ended();", :width => 10, preload: 'metadata') %>



    <script>
        // 2. This code loads the IFrame Player API code asynchronously.

        let youtube_player;
        <!--        function loaded(){-->
        <!--            youtube_player = new YT.Player('youtube_placeholder_id', {-->
        <!--                height: '360',-->
        <!--                width: '640',-->
        <!--                videoId: '<%#=video.youtube_url %>',-->
        <!--                events: {-->
        <!--                    'onReady': onYoutubePlayerReady,-->
        <!--                    'onStateChange': onYoutubePlayerStateChange-->
        <!--                }-->
        <!--            });-->
        <!--        }-->

<!--        function onYouTubeIframeAPIReady() {-->
<!--            youtube_player = new YT.Player('youtube_placeholder_id', {-->
<!--                height: '360',-->
<!--                width: '640',-->
<!--                videoId: '<%#=video.youtube_url %>',-->
<!--                playerVars: {-->
<!--                    autoplay: 1,-->
<!--                    controls: 1,-->
<!--                    showinfo: 1,-->
<!--                    rel: 0,-->
<!--                    iv_load_policy: 3,-->
<!--                    cc_load_policy: 0,-->
<!--                    fs: 0,-->
<!--                    disabled: 1,-->
<!--                    start: '18',-->
<!--                    end: '22',-->
<!--                    suggestedQuality: 'large',-->
<!--                },-->
<!--                events: {-->
<!--                    onReady: function () {-->
<!--                        console.log("alert");-->
<!--                    },-->
<!--                    onStateChange: onYoutubePlayerStateChange -->
<!--                }-->
<!--            });-->

<!--            youtube_player.addEventListener('onStateChange', function (e) {-->
<!--                console.log('State is:', e.data);-->
<!--            });-->



        // 4. The API will call this function when the video player is ready.
<!--        function onYoutubePlayerReady(event) {-->
<!--            debugger-->
<!--            event.target.playVideo();-->
<!--        }-->

<!--        function onReady() {-->
<!--            debugger;-->

<!--        }-->

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        // let done = false;
        //
        // function onYoutubePlayerStateChange(event) {
        //     debugger;
        //
        //     if (event.data == YT.PlayerState.PLAYING && !done) {
        //         setTimeout(stopYoutubeVideo, 6000);
        //         done = true;
        //     }
        // }
        //
        // function stopYoutubeVideo() {
        //     youtube_player.stopVideo();
        // }
        //
        // function loadVideo(youtube_id) {
        //     // debugger;
        //     //
        //     // youtube_player.loadVideoById({
        //     //     'videoId': youtube_id,
        //     //     'startSeconds': 5,
        //     //     'endSeconds': 60,
        //     //     'suggestedQuality': 'large',
        //     // });
        // }

    </script>
  <% elsif video && video.video.attached? %>
    <%# if video && video.video.attached? %>
    <% if width %>


      <%#= video_tag("#{url_for(video.video)}.mp4", :controls => "false", :onended=>"video_ended();", :width=>300) %>
      <%= video_tag("#{url_for(video.video)}", :controls => false, :oncanplay => "autoCallInitOnVidLoadIfTrainingStarted();", :onended => "video_ended();", :width => width, preload: 'metadata') %>
    <% else %>
      <%= video_tag("#{url_for(video.video)}", :controls => false, :oncanplay => "autoCallInitOnVidLoadIfTrainingStarted();", :onended => "video_ended();", preload: 'metadata') %>
    <% end %>

  <% else %>
    <%if @exercise %>
    Here is a List of exercise Videos from Youtube
    <iframe id="ytplayer" type="text/html" width="640" height="360" src="https://www.youtube.com/embed?listType=search&list=<%= @exercise.name.gsub(" ", "+") %>&origin=http://free-workouts.com" frameborder="0" style="position:absolute;left:0;width: 300px;height: 168px;"></iframe>
      <%end %>
    edit Workout and select a video

<% end %>
</div>