
<h1>Trainingsplans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th >show</th>
      <th >edit</th>
      <th >destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @trainingsplans.each do |trainingsplan| %>
      <tr>
        <td><%= trainingsplan.name %>
          <%#= image_tag("muskelman.svg", :class => "multi_pic") %>

        </td>
        <td><%= link_to "Ansehen", trainingsplan  %></td>
        <td><%#= link_to "Bearbeiten", edit_trainingsplan_path(trainingsplan) %></td>
        <td><%= link_to "Destroy", trainingsplan, method: :delete, data: { confirm: "Are you sure?" } if creator_of_trainingsplan%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Trainingsplan", new_trainingsplan_path %>

<strong>Alle Traingspläne:</strong>
<div id="trainingsplan_list">

  <%= render "users/trainingsplanlist" %>
</div>
