<p id="notice"><%= notice %></p>

<h1>Trainingsplans</h1>

<table>
  <thead>
    <tr>
      <th>Exercises</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainingsplans.each do |trainingsplan| %>
      <tr>
        <td><%= trainingsplan.name %>
          <%= image_tag("muskelman.svg", :class => "multi_pic") %>

        </td>
        <td><%= link_to "Show", trainingsplan  %></td>
        <td><%#= link_to "Edit", edit_trainingsplan_path(trainingsplan) %></td>
        <td><%= link_to "Destroy", trainingsplan, method: :delete, data: { confirm: "Are you sure?" } if creator_of_trainingsplan%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Trainingsplan", new_trainingsplan_path %>
