<p id="notice"><%= notice %></p>

<p>
  <strong>Traingsplan:</strong>
  <%= @trainingsplan.name %>
</p>


<div style="position:relative">
  <div id="muscles" class="nice_outer_tab">
    <%= render :partial => "main/muscle" %>
  </div>


  <%= image_tag("muskelman.png", :class => "multi_pic") %>

  <div id="exercise_selected" style="position:absolute;">
    <%= render :partial => "main/exercise_selected" %>
  </div>
  <div id="muscle_selected" style="position:absolute;">
    <%= render partial: "main/muscle_selected", locals: {muscles: @muscles} %>
  </div>
<%#= render :partial => "main/muscle_hover" %>
  <div id="exercises" class="nice_outer_tab">
    <%= render :partial => "main/exercise" %>
  </div>
  <div id="hover" style="position:absolute;"></div>
  <%= image_tag("blank.png", :class => "multi_pic", :usemap => "#body_area", :style => "width:463px;height:460px;") %>



  <%= link_to "Edit", edit_trainingsplan_path(@trainingsplan) %> |
  <%= link_to "Back", user_trainingsplans_path %>
</div>