<strong>Trainingsplans:</strong>
<%= hidden_field_tag "pause_status", "false" %>
<%= hidden_field_tag "global_max_exercise", 0 %>
<%= hidden_field_tag "global_current_exercise", 0 %>
<%= hidden_field_tag "current_duration", 0 %>
<%= hidden_field_tag "current_reps", 0 %>
<%= hidden_field_tag "current_pause", 0 %>
<%= hidden_field_tag "unit", "" %>
<%= hidden_field_tag "max_reps", 0 %>
<%= hidden_field_tag "max_duration", 0 %>
<%= hidden_field_tag "max_pause", 0 %>
<%= hidden_field_tag "myVar", 0 %>
<%= hidden_field_tag "training_started", "false" %>




<div style="position: relative;">

  <div id="trainingsplans_exercise_video_show">
    <%= render "trainingsplans/video", :video => @video, :width => nil %>
  </div>

  <div id="start_exercise" onclick="start_training();" title="Start Training">
    <i class="material-icons" style="font-size:120px !important;color:#29a833">play_circle_outline</i>
  </div>
  <!--div id="continue_exercise" onclick="continue_training();$('#continue_exercise').hide();$('#start_exercise').show();"  style="display:none;">
    continue Training $('#continue_exercise').show();
  </div-->
  <div id="pause_exercise" onclick="pause_training();" title="Pause Training">
    <i class="material-icons" style="font-size:120px !important;color:#d6d6d6">pause_circle_outline</i>
  </div>

  <div id="trainingsplan_selection_area">
    <div id="trainingsplans_show_view">
      <div id="hide_training" class="open_training" onclick="toggleTraining()" style="display: block"><%= t(".hidePlan") %></div>
      <div id="open_training" class="open_training" onclick="toggleTraining()" style="display: none;"><%= t(".showPlan") %></div>
    </div>
    <div style="position: absolute;top: -45px;left: 0px;">
      <% if @current_user %>

        <%= select_tag "trainingsplan_id", options_for_select(@current_user.trainingsplans.collect { |u| [u.name, u.id] }, @trainingsplan.id), {:multiple => false} %>

      <% end %>
      <script>

          $('select#trainingsplan_id').on('change', function (event) {
              let selected_resource_id = $(this).val();
              let selected_muscle = $("#body_part_text_selected").innerText;
              let urlString = "<%=  trainingsplans_url%>";

              document.location =  urlString + selected_resource_id;
              return false;
          });
      </script>
    </div>
    <div style="position: relative;">
      <%= link_to t('add_or_remove_exercises'), index_path(trainingsplan_id: @trainingsplan.id) if creator_of_trainingsplan %>
      <%#= link_to t('edit_repetition_duration_or_videos'), edit_trainingsplan_path(@trainingsplan) if creator_of_trainingsplan %>
      <%#= link_to t('back'), user_trainingsplans_path %>
    </div>



  </div>

  <div id="trainingsplan_muscle_images_field" style="position: absolute;">

    <%= image_tag("muskelman.svg", :class => "trainingsplan_exercise_multi_pic_base") %>
    <div id="trainingsplans" class="show_training">
      <%= render "trainingsplans/user_selected" %>
    </div>
    <div id="exercise_selected">
      <%= render :partial => "trainingsplans/exercise_selected" %>
    </div>
  </div>

  <div id="trainings_exercises" class="nice_outer_tab">
    <%= render :partial => "trainingsplans/exercise" %>
  </div>


</div>
