<strong>Traingsplans:</strong>
<div>
<% @current_user.trainingsplans.each do |trainingsplan| %>
  <span>Name: <%= link_to trainingsplan.name, trainingsplan %></span> |
<% end %>
</div>
<br/>
<div style="position: relative;">
  <strong>Selected Traingsplan:</strong>
  Name: <%= @trainingsplan.name %>
  Id: <%= @trainingsplan.id %>
</div>


<div style="position: relative;top: 60px;">


  <div id="trainings_exercises" class="nice_outer_tab">
    <%= render :partial => "trainingsplans/exercise" %>
  </div>

  <%= image_tag("muskelman.png", :class => "multi_pic") %>



  <div id="open_training" class="open_training" onclick="toggleTraining()">Show Trainingsplan</div>


  <div id="exercise_selected">
    <%= render :partial => "trainingsplans/exercise_selected" %>
  </div>
  <div id="trainingsplans" class="hidden_training">
    <%= render "trainingsplans/user_selected" %>
  </div>

  <div id="muscle_selected">
    <%= render partial: "trainingsplans/muscle_selected" %>
  </div>
<%#= render :partial => "main/muscle_hover" %>
  <div id="trainingsplans_muscles" class="nice_outer_tab">
    <%= render :partial => "trainingsplans/muscle" %>
  </div>
  <div id="hover"></div>
  <%= image_tag("blank.png", :class => "multi_pic", :usemap => "#body_area", :style => "width:463px;height:460px;") %>
  <div id="rep_sec_pause">
    <%= label :autolyse, "reps", :value => "reps" %>
    <%= radio_button_tag 'gender', 'male', :checked => false %>
    <%= text_field_tag("reps", value = nil, options = {placeholder: 'reps'}) %>
    <%= label :autolyse, "time", :value => "time" %>
    <%= radio_button_tag 'gender', 'male', :checked => true %>

    <%= text_field_tag("sec", value = nil, options = {placeholder: 'sekunden'}) %>
    <%= text_field_tag("pause", value = nil, options = {placeholder: 'pause'}) %>
  </div>

  <div id="trainingsplans_exercise_video">
    <%= render :partial => "trainingsplans/video" %>
  </div>

  <div style="position: relative;top: -155px;">
    <%= link_to "Edit", edit_trainingsplan_path(@trainingsplan) %> |
    <%= link_to "Back", user_trainingsplans_path %>
  </div>
</div>