<strong>Traingsplans:</strong>
<%= hidden_field_tag "pause_status", "false" %>
<%= hidden_field_tag "global_max_exercise", 0 %>
<%= hidden_field_tag "global_current_exercise", 0 %>
<%= hidden_field_tag "current_duration", 0 %>
<%= hidden_field_tag "current_reps", 0 %>
<%= hidden_field_tag "current_pause", 0 %>
<%= hidden_field_tag "unit", "" %>
<%= hidden_field_tag "max_reps", 0 %>
<%= hidden_field_tag "max_duration", 0 %>
<%= hidden_field_tag "max_pause", 0 %>
<%= hidden_field_tag "myVar", 0 %>

<div>
  <% if @current_user %>
    <% @current_user.trainingsplans.each do |trainingsplan| %>
      <span>Name: <%= link_to trainingsplan.name, trainingsplan %></span> |
    <% end %>
  <% end %>
</div>
<br/>
<strong>Ausgewählter Trainingsplan:</strong>

<div style="position: relative;">

  <span id="trainingsplan_text_selected" class="trainingsplan_name" style="position: relative;"><%= @trainingsplan.name %></span>
  Id: <%= @trainingsplan.id %>
</div>


<div style="position: relative;top: 60px;">


  <div id="trainings_exercises" class="nice_outer_tab">
    <%= render :partial => "trainingsplans/exercise" %>
  </div>

  <%= image_tag("muskelman.svg", :class => "trainingsplan_exercise_multi_pic_base") %>



  <div id="open_training" class="open_training" onclick="toggleTraining()">Verstecke Trainingsplan</div>


  <div id="trainingsplans" class="show_training">
    <%= render "trainingsplans/user_selected" %>
  </div>
  <div id="exercise_selected">
    <%= render :partial => "trainingsplans/exercise_selected" %>
  </div>

<%#= render :partial => "main/muscle_hover" %>
  <!--div id="trainingsplans_muscles" class="nice_outer_tab">
    <%#= render :partial => "trainingsplans/muscle" %>
  </div>

  <div id="hover"></div-->
  <%= image_tag("blank.png", :class => "multi_pic", :usemap => "#body_area", :style => "width:463px;height:460px;") %>

  <div id="rep_sec_pause">
    <%= render :partial => "trainingsplans/rep_sec_pause" %>
  </div>


  <div id="trainingsplans_exercise_video_show">
    <%= render "trainingsplans/video", :video => @video, :width => nil %>
  </div>


  <div style="position: relative;top: -155px;">
    <%= link_to t('add_or_remove_exercises'), index_path(trainingsplan_id:@trainingsplan.id) if creator_of_trainingsplan %>
    <%#= link_to t('edit_repetition_duration_or_videos'), edit_trainingsplan_path(@trainingsplan) if creator_of_trainingsplan %>
    <%#= link_to t('back'), user_trainingsplans_path %>
  </div>
</div>
