<strong>Traingsplans:</strong>
<div>
  <% if @current_user %>
    <% @current_user.trainingsplans.each do |trainingsplan| %>
      <span>Name: <%= link_to trainingsplan.name, trainingsplan %></span> |
    <% end %>
  <% end %>
</div>
<br/>
<strong>Selected Trainingsplan:</strong>

<div style="position: relative;">

  Name: <span id="trainingsplan_text_selected" style="position: relative;"><%= @trainingsplan.name %></span>
  Id: <%= @trainingsplan.id %>
</div>


<div style="position: relative;top: 60px;">


  <div id="trainings_exercises" class="nice_outer_tab">
    <%= render :partial => "trainingsplans/exercise" %>
  </div>

  <%= image_tag("muskelman.svg", :class => "trainingsplan_exercise_multi_pic_base") %>



  <div id="open_training" class="open_training" onclick="toggleTraining()">Hide Trainingsplan</div>


  <div id="trainingsplans" class="show_training">
    <%= render "trainingsplans/user_selected" %>
  </div>
  <div id="exercise_selected">
    <%= render :partial => "trainingsplans/exercise_selected" %>
  </div>

<%#= render :partial => "main/muscle_hover" %>
  <!--div id="trainingsplans_muscles" class="nice_outer_tab">
    <%#= render :partial => "trainingsplans/muscle" %>
  </div>

  <div id="hover"></div-->
  <%= image_tag("blank.png", :class => "multi_pic", :usemap => "#body_area", :style => "width:463px;height:460px;") %>

  <div id="rep_sec_pause">
    <%= render :partial => "trainingsplans/rep_sec_pause" %>
  </div>


  <div id="trainingsplans_exercise_video">
    <%= render :partial => "trainingsplans/video" %>
  </div>


  <div style="position: relative;top: -155px;">
    <%= link_to "Edit", edit_trainingsplan_path(@trainingsplan) if creator_of_trainingsplan %> |
    <%= link_to "Back", user_trainingsplans_path %>
  </div>
</div>
<script>
    let global_max_exercise = 0;
    let global_current_exercise = 0;
    let current_duration = 0;
    let current_reps = 0;
    let unit = "";
    let max_reps = 0, max_duration = 0;
    let pause = false;

    function video_ended() {

        if (!pause) {
            if (unit === "reps") {
                current_reps += 1;
                console.log("current_reps" + current_reps);
                console.log("current_duration" + current_duration);
                if (current_reps <= max_reps) {
                    play_video();
                } else {
                    if (global_max_exercise > global_current_exercise) {
                        global_current_exercise += 1;
                        select_exercise(global_current_exercise);

                    }

                }
            } else {
                current_duration += parseInt($("video")[0].duration);
                console.log("current_reps" + current_reps);
                console.log("current_duration" + current_duration);
                if (current_duration <= max_duration) {
                    play_video();
                } else {
                    if (global_max_exercise > global_current_exercise) {
                        global_current_exercise += 1;
                        select_exercise(global_current_exercise);

                    }

                }
            }
        }
        console.log("rep done");
    }


    function start_training() {

        if (pause === true) {
            pause = false;
            play_video();
        } else {
            global_current_exercise = 0;
            select_exercise(global_current_exercise);
        }

    }

    function pause_training() {
        pause = true;
        show_play_button();

    }

    function continue_training() {


    }

    function set_unit() {
        if ($("#unit_reps")[0].checked) {
            unit = "reps";
        } else {
            unit = "duration";
        }
    }

    function start_exercise() {
        play_video();

    }

    function hide_play_button() {
        $("#start_exercise").css("display", "none");
        $("#pause_exercise").css("display", "block");

    }

    function show_play_button() {
        $("#start_exercise").css("display", "block");
        $("#pause_exercise").css("display", "none");

    }

    function play_video() {
        hide_play_button();
        $("video")[0].play();
    }

    function select_exercise(current_exercise) {
        links = $(".exercise_selection_link ");
        links[current_exercise].click();

        setTimeout(init_max_and_current, 3000);


    }

    function init_max_and_current() {
        max_reps = $("#reps")[0].value - 1;
        current_reps = 0;
        max_duration = $("#duration")[0].value - 1;
        current_duration = 0;
        set_unit();
        start_exercise();
        global_max_exercise = $(".exercise_selection_link ").length - 1;
    }


</script>