<strong>Traingsplans:</strong>
<div>
  <% if @current_user %>
    <% @current_user.trainingsplans.each do |trainingsplan| %>
      <span>Name: <%= link_to trainingsplan.name, trainingsplan %></span> |
    <% end %>
  <% end %>
</div>
<br/>
<strong>Selected Trainingsplan:</strong>

<div style="position: relative;">

  Name: <span id="trainingsplan_text_selected" style="position: relative;"><%= @trainingsplan.name %></span>
  Id: <%= @trainingsplan.id %>
</div>


<div style="position: relative;top: 60px;">


  <div id="trainings_exercises" class="nice_outer_tab">
    <%= render :partial => "trainingsplans/exercise" %>
  </div>

  <%= image_tag("muskelman.svg", :class => "trainingsplan_exercise_multi_pic_base") %>



  <div id="open_training" class="open_training" onclick="toggleTraining()">Hide Trainingsplan</div>


  <div id="trainingsplans" class="show_training">
    <%= render "trainingsplans/user_selected" %>
  </div>
  <div id="exercise_selected">
    <%= render :partial => "trainingsplans/exercise_selected" %>
  </div>

<%#= render :partial => "main/muscle_hover" %>
  <!--div id="trainingsplans_muscles" class="nice_outer_tab">
    <%#= render :partial => "trainingsplans/muscle" %>
  </div>

  <div id="hover"></div-->
  <%= image_tag("blank.png", :class => "multi_pic", :usemap => "#body_area", :style => "width:463px;height:460px;") %>

  <div id="rep_sec_pause">
    <%= render :partial => "trainingsplans/rep_sec_pause" %>
  </div>


  <div id="trainingsplans_exercise_video_show">
    <%= render "videos/video", :video => @video, :width => nil %>
  </div>


  <div style="position: relative;top: -155px;">
    <%= link_to "Edit", edit_trainingsplan_path(@trainingsplan) if creator_of_trainingsplan %> |
    <%= link_to "Back", user_trainingsplans_path %>
  </div>
</div>
