<%= render "layouts/style_vars" %>

<!--FORM name="style_form">
  <span onClick="back_style();" style="cursor: pointer"> back</span>
  <label>
    <SELECT name="style_options">
        <% @style_vars.each do |style| %>
        <OPTION <%= "SELECTED" if cookies["style"] == style[0] %> value="<%= style[0]%>" style="background-color:<%= style[1]%>;"><%=style[0]%> </OPTION>
        <% end %>
    </SELECT>
  </label>
  <INPUT type="button" name="ok" value="Ok!" onClick="change_style();" style="cursor: pointer">
  <span onClick="next_style();" style="cursor: pointer"> next</span>
</FORM-->




<span id="style_vars">
  <% @style_vars.each do |style| %>
      <%= render partial: "layouts/styles", locals:{main_color:style[1], main_name: style[0]} %>
  <% end %>


</span>

