<div id="navilinks">
  <%= link_to t('layouts.navi.start'), start_path %>
  <%= link_to t('layouts.navi.advanced_search'), index_path %>

  <%= link_to t('layouts.navi.all_trainingsplans'), trainingsplans_path %>
  <%= link_to t('layouts.navi.my_trainingsplans'), user_trainingsplans_path if current_user %>

  <%= link_to t('layouts.navi.all_exerccises'), exercises_all_path if current_user %>
  <%= link_to t('layouts.navi.my_exercises'), user_exercises_path if current_user %>

  <%= link_to t('layouts.navi.my_videos'), user_videos_path if current_user %>


  <div id="login_box">
    <%= link_to "impressum", impressum_path %> |
    <%= link_to(t('login'), login_path, :class => "nice_inset_tab") unless logged_in? %>
    <%= link_to(t('signup'), sign_up_path, :class => "nice_inset_tab") unless logged_in? %>
    <%= link_to(t('logout'), logout_path, :class => "nice_inset_tab") if logged_in? %>
  </div>

</div>