<div id="navilinks">
  <%= link_to "Start", root_path %> |
  <%= link_to "Eigene Trainingspläne", user_trainingsplans_path %> |
  <%= link_to "Alle Übungen", exercises_all_path %> |
  <%= link_to "Meine Übungen", exercises_path %> |
  <%= link_to "impressum", impressum_path %>

</div>