<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>ITone <%= params[:controller] %>/<%= controller.action_name %></title>
  <%= favicon_link_tag asset_path('muskelman.png') %>
</head>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%#= stylesheet_link_tag :application %>
<%#= stylesheet_link_tag("main.scss") %>

<%#= stylesheet_link_tag "dev/screen", :media => "all" %>
<%= render "layouts/muscle_styles" %>
<%#= javascript_include_tag :application  %>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
<%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<%#= javascript_include_tag "modernizr-1.6.min" %>
<body id="body" class="theme_3a3a3a" onresize="resize_trainingsplans_exercise_video();">
<%= render "layouts/navi" %>
<script>
    $(document).on("mousemove", function (event) {
        $("#mouseX").attr("value", event.pageX);
        $("#mouseY").attr("value", event.pageY);
        //$( "#log" ).text( "pageX: " + event.pageX + ", pageY: " + event.pageY );
    });


    $('select#trainingsplan_id').on('change', function(event) {
        let selected_resource_id = $(this).val();
        let selected_muscle = $("#body_part_text_selected").innerText;
        let urlString = ""
        if (document.location.href.indexOf("muscles") > -1 ){
            urlString ="/muscles/trainingsplans/get_exercises/";
        }else{
            urlString ="/trainingsplans/get_exercises/";
        }
        $.ajax({
            type: "POST",
            url: urlString + selected_resource_id+"?muscle=" + selected_muscle,
            dataType: "script",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            }
        });
        return false;
    });


    let vp = {
        global_max_exercise: 0,
        global_current_exercise: 0,
        current_duration: 0,
        current_reps: 0,
        current_pause: 0,
        unit: "",
        max_reps: 0, max_duration: 0, max_pause: 0,
        myVar: 0,
        video_ended: function () {
            let pause = $("#pause_status")[0];
            if (pause.value === "false") {
                if (vp.unit === "reps") {
                    vp.current_reps += 1;
                    console.log("current_reps" + vp.current_reps);
                    $("#reps")[0].value = vp.current_reps;
                    $("#reps_current")[0].innerHTML = vp.current_reps;
                    console.log("current_duration" + vp.current_duration);
                    if (vp.current_reps <= vp.max_reps) {
                        vp.play_video();
                    } else {
                        if (vp.global_max_exercise > vp.global_current_exercise) {
                            vp.myVar = setInterval(vp.myTimer, 1000);

                        }

                    }
                } else {
                    vp.current_duration += parseInt($("video")[0].duration);
                    $("#duration")[0].value = vp.current_duration;
                    $("#dur_current")[0].innerHTML = vp.current_duration;
                    console.log("current_reps" + vp.current_reps);
                    console.log("current_duration" + vp.current_duration);
                    if (vp.current_duration <= vp.max_duration) {
                        vp.play_video();
                    } else {
                        if (vp.global_max_exercise > vp.global_current_exercise) {
                            vp.myVar = setInterval(vp.myTimer, 1000);
                        }

                    }
                }
            }
            console.log("rep done");
        },


        start_training: function () {
            let pause = $("#pause_status")[0];
            if (pause.value === "true") {
                pause.value = false;
                vp.play_video();
            } else {
                vp.global_current_exercise = 0;
                vp.select_exercise(vp.global_current_exercise);
            }

        },

        pause_training: function () {
            $("#pause_status")[0].value = "true";
            vp.show_play_button();

        },

        /*function continue_training() {


        }*/

        set_unit: function () {
            let unit_rep = $("#unit_reps")[0];
            if (unit_rep !== undefined) {
                vp.unit = "reps";
            } else {
                vp.unit = "duration";
            }
        },

        start_exercise: function () {
            vp.play_video();

        },

        hide_play_button: function () {
            $("#start_exercise").css("display", "none");
            $("#pause_exercise").css("display", "block");

        },

        show_play_button: function () {
            $("#start_exercise").css("display", "block");
            $("#pause_exercise").css("display", "none");

        },

        play_video: function () {
            vp.hide_play_button();
            $("video")[0].play();
        },

        select_exercise: function (current_exercise) {
            let links = $(".exercise_selection_link ");
            links[current_exercise].click();

            setTimeout(vp.init_max_and_current, 3000);
        },

        init_max_and_current: function () {
            let rep = $("#reps")[0];
            if (rep !== undefined) {
                vp.max_reps = rep.max - 1;
            }
            vp.current_reps = 0;

            let dur = $("#duration")[0];
            if (dur !== undefined) {
                vp.max_duration = dur.max - 1;
            }
            vp.current_duration = 0;

            let pause_div = $("#pause")[0];
            if (pause_div !== undefined) {
                vp.max_pause = pause_div.max - 1;
            }
            vp.current_pause = 0;

            vp.set_unit();
            vp.start_exercise();
            vp.global_max_exercise = $(".exercise_selection_link ").length - 1;
        },


        myTimer: function () {
            /*let d = new Date();*/
            if (vp.current_pause === vp.max_pause) {
                vp.current_pause = 0;
                vp.myStopFunction();
                vp.global_current_exercise += 1;
                vp.select_exercise(vp.global_current_exercise);
            } else {
                vp.current_pause++;
                $("#pause")[0].value = vp.current_pause;
                $("#pause_current")[0].innerHTML = vp.current_pause;
            }
        },

        myStopFunction: function () {
            clearInterval(vp.myVar);
        }
    }


    //    $( document ).ready( readyFn );
    // or:
    //$( window ).on( "load", resize_trainingsplans_exercise_video);
    $(document).ready(resize_trainingsplans_exercise_video);
</script>


<input type="hidden" id="mouseX" value=""/>
<input type="hidden" id="mouseY" value=""/>
<span style="position: absolute;z-index: 9;">
<%= render "layouts/drop_style" %>
  </span>

<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
<div id="outer_container" class="nice_outer_tab">
  <div id="container"><br/>





    <%#= render("shared/header", :locals => {:cont_name => "contact"}) %>
    <div id="muscle"></div>
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>


    <%= yield :layout %>

    <%#= render "layouts/donation" %>
    <div id="trainingsplanlist" style="display: none;
        top: 318px;
        left: 1015px;
        position: absolute;
        border: 1px solid black;
        padding: 5px;
        background: lightgrey;">

    </div>
  </div>
</div>
<!--table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
    <td width="100%" align="center" style="padding:10px;">Copyright &copy; INC-M99.</td>
  </tr>
  <tr>
    <td width="100%" align="center" style="">
      <% if params[:controller] != "backend" %>
        <a href="http://s05.flagcounter.com/more/bQy"><img src="http://s05.flagcounter.com/count/bQy/bg=FFFFFF/txt=000000/border=CCCCCC/columns=4/maxflags=12/viewers=3/labels=1/pageviews=1/" alt="free counters" border="0"></a>
      <% end %>
    </td>
  </tr>
  </tbody>
</table-->

</body>
</html>
