<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="google-site-verification" content="f_Wp2h92NSmgS0w3zNJwH_j5KnV6B_fnLrD5J3UnD4c"/>
  <script data-ad-client="ca-pub-5196890855321116" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>free-workouts.com <%#= params[:controller] %>/<%= controller.action_name %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= favicon_link_tag asset_path('Logo.webp') %>

  <%#= stylesheet_link_tag :application %>
<%#= stylesheet_link_tag("main.scss") %>

<%#= stylesheet_link_tag "dev/screen", :media => "all" %>
  <%= render "layouts/muscle_styles" %>
<%#= javascript_include_tag :application  %>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>


  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap">
  <script src="https://www.youtube.com/iframe_api"></script>

<%#= javascript_include_tag "modernizr-1.6.min" %>

</head>
<body id="body" class="theme_3a3a3a" onresize="to_scale_or_not_to_scale();" onload="to_scale_or_not_to_scale();">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<div id="body_tag">

  <%= render "layouts/navi" %>


  <input type="hidden" id="mouseX" value=""/>
  <input type="hidden" id="mouseY" value=""/>
  <div style="position: absolute;z-index: 9;">
    <%= render "layouts/drop_style" %>
  </div>

  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
  <div id="outer_container" class="nice_outer_tab">
    <div id="container">


      <%#= render("shared/header", :locals => {:cont_name => "contact"}) %>
      <div id="muscle"></div>
      <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>


      <%= yield :layout %>

      <%#= render "layouts/donation" %>
      <div id="trainingsplanlist" style="display: none;
          top: 318px;
          left: 1015px;
          position: absolute;
          border: 1px solid black;
          padding: 5px;
          background: lightgrey;">

      </div>
    </div>
  </div>
  <!--table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
    <td width="100%" align="center" style="padding:10px;">Copyright &copy; INC-M99.</td>
  </tr>
  <tr>
    <td width="100%" align="center" style="">
      <%# if params[:controller] != "backend" %>
        <a href="http://s05.flagcounter.com/more/bQy"><img src="http://s05.flagcounter.com/count/bQy/bg=FFFFFF/txt=000000/border=CCCCCC/columns=4/maxflags=12/viewers=3/labels=1/pageviews=1/" alt="free counters" border="0"></a>
      <%# end %>
    </td>
  </tr>
  </tbody>
</table-->
</div>
<script>
    $(document).on("mousemove", function (event) {
        $("#mouseX").attr("value", event.pageX);
        $("#mouseY").attr("value", event.pageY);
        //$( "#log" ).text( "pageX: " + event.pageX + ", pageY: " + event.pageY );
    });


    //    $( document ).ready( readyFn );
    // or:
    //$( window ).on( "load", scale_for_landscape);
    $(document).ready(to_scale_or_not_to_scale());

    window.addEventListener("orientationchange", function (event) {
        to_scale_or_not_to_scale();
    });

    // let tag = document.createElement('script');
    //
    // tag.src = "https://www.youtube.com/iframe_api";
    // let firstScriptTag = document.getElementsByTagName('script')[0];
    // firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function load_youtube_player(url, start, end) {
        if (document.querySelector("div#youtube_placeholder_id") !== null) {


            youtube_player = new YT.Player('youtube_placeholder_id', {
                height: '360',
                width: '640',
                videoId: url,
                playerVars: {
                    autoplay: 1,
                    controls: 1,
                    showinfo: 1,
                    rel: 0,
                    iv_load_policy: 3,
                    cc_load_policy: 0,
                    fs: 0,
                    disabled: 1,
                    start: '18',
                    <!--                    start: '<%#=video.start_time %>',-->
                    <!--                    end: '<%#=video.end_time %>',-->
                    end: '22',
                    suggestedQuality: 'large',
                },
                events: {
                    onReady: function () {
                        console.log("alert");
                    },
                    //onStateChange: onYoutubePlayerStateChange
                }
            });
        }
        youtube_player.addEventListener('onStateChange', function (e) {
            console.log('State is:', e.data);
        });



    }


    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.

</script>
<div>Icons erstellt von <a href="https://www.flaticon.com/de/autoren/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/de/" title="Flaticon">www.flaticon.com</a></div>
</body>
</html>
